{{ ansible_managed | comment }}
{% set _s = palworld_settings %}
{% set _opts = [
  "Difficulty="                                ~ _s['difficulty'],
  "DayTimeSpeedRate="                          ~ _s['day_time_speed_rate'],
  "NightTimeSpeedRate="                        ~ _s['night_time_speed_rate'],
  "ExpRate="                                   ~ _s['exp_rate'],
  "PalCaptureRate="                            ~ _s['pal_capture_rate'],
  "PalSpawnNumRate="                           ~ _s['pal_spawn_num_rate'],
  "PalDamageRateAttack="                       ~ _s['pal_damage_rate_attack'],
  "PalDamageRateDefense="                      ~ _s['pal_damage_rate_defense'],
  "PlayerDamageRateAttack="                    ~ _s['player_damage_rate_attack'],
  "PlayerDamageRateDefense="                   ~ _s['player_damage_rate_defense'],
  "PlayerStomachDecreaseRate="                 ~ _s['player_stomach_decrease_rate'],
  "PlayerStaminaDecreaseRate="                 ~ _s['player_stamina_decrease_rate'],
  "PlayerAutoHPRegeneRate="                    ~ _s['player_auto_hp_regene_rate'],
  "PlayerAutoHpRegeneRateInSleep="             ~ _s['player_auto_hp_regene_rate_in_sleep'],
  "PalStomachDecreaseRate="                    ~ _s['pal_stomach_decrease_rate'],
  "PalStaminaDecreaseRate="                    ~ _s['pal_stamina_decrease_rate'],
  "PalAutoHPRegeneRate="                       ~ _s['pal_auto_hp_regene_rate'],
  "PalAutoHpRegeneRateInSleep="                ~ _s['pal_auto_hp_regene_rate_in_sleep'],
  "BuildObjectDamageRate="                     ~ _s['build_object_damage_rate'],
  "BuildObjectDeteriorationDamageRate="        ~ _s['build_object_deterioration_damage_rate'],
  "CollectionDropRate="                        ~ _s['collection_drop_rate'],
  "CollectionObjectHpRate="                    ~ _s['collection_object_hp_rate'],
  "CollectionObjectRespawnSpeedRate="          ~ _s['collection_object_respawn_speed_rate'],
  "EnemyDropItemRate="                         ~ _s['enemy_drop_item_rate'],
  "DeathPenalty="                              ~ _s['death_penalty'],
  "bEnablePlayerToPlayerDamage="               ~ _s['b_enable_player_to_player_damage'],
  "bEnableFriendlyFire="                       ~ _s['b_enable_friendly_fire'],
  "bEnableInvaderEnemy="                       ~ _s['b_enable_invader_enemy'],
  "bActiveUNKO="                               ~ _s['b_active_unko'],
  "bEnableAimAssistPad="                       ~ _s['b_enable_aim_assist_pad'],
  "bEnableAimAssistKeyboard="                  ~ _s['b_enable_aim_assist_keyboard'],
  "DropItemMaxNum="                            ~ _s['drop_item_max_num'],
  "DropItemMaxNum_UNKO="                       ~ _s['drop_item_max_num_unko'],
  "BaseCampMaxNum="                            ~ _s['base_camp_max_num'],
  "BaseCampWorkerMaxNum="                      ~ _s['base_camp_worker_max_num'],
  "DropItemAliveMaxHours="                     ~ _s['drop_item_alive_max_hours'],
  "bAutoResetGuildNoOnlinePlayers="            ~ _s['b_auto_reset_guild_no_online_players'],
  "AutoResetGuildTimeNoOnlinePlayers="         ~ _s['auto_reset_guild_time_no_online_players'],
  "GuildPlayerMaxNum="                         ~ _s['guild_player_max_num'],
  "PalEggDefaultHatchingTime="                 ~ _s['pal_egg_default_hatching_time'],
  "WorkSpeedRate="                             ~ _s['work_speed_rate'],
  "bIsMultiplay="                              ~ _s['b_is_multiplay'],
  "bIsPvP="                                    ~ _s['b_is_pvp'],
  "bCanPickupOtherGuildDeathPenaltyDrop="      ~ _s['b_can_pickup_other_guild_death_penalty_drop'],
  "bEnableNonLoginPenalty="                    ~ _s['b_enable_non_login_penalty'],
  "bEnableFastTravel="                         ~ _s['b_enable_fast_travel'],
  "bIsStartLocationSelectByMap="               ~ _s['b_is_start_location_select_by_map'],
  "bExistPlayerAfterLogout="                   ~ _s['b_exist_player_after_logout'],
  "bEnableDefenseOtherGuildPlayer="            ~ _s['b_enable_defense_other_guild_player'],
  "CoopPlayerMaxNum="                          ~ _s['coop_player_max_num'],
  "ServerPlayerMaxNum="                        ~ _s['server_player_max_num'],
  'ServerName="'                               ~ _s['server_name']        ~ '"',
  'ServerDescription="'                        ~ _s['server_description'] ~ '"',
  'AdminPassword="'                            ~ _s['admin_password']     ~ '"',
  'ServerPassword="'                           ~ _s['server_password']    ~ '"',
  "PublicPort="                                ~ _s['public_port'],
  'PublicIP="'                                 ~ _s['public_ip']          ~ '"',
  "RCONEnabled="                               ~ _s['rcon_enabled'],
  "RCONPort="                                  ~ _s['rcon_port'],
  'Region="'                                   ~ _s['region']             ~ '"',
  "bUseAuth="                                  ~ _s['b_use_auth'],
  'BanListURL="'                               ~ _s['ban_list_url']       ~ '"',
] %}
[/Script/Pal.PalGameWorldSettings]
OptionSettings=({{ _opts | join(', ') }})
