{{ ansible_managed | comment }}
{% set _s = palworld_settings %}
{% set _opts = [
  "Difficulty="                                               ~ _s['difficulty'],
  "RandomizerType="                                          ~ _s['randomizer_type'],
  'RandomizerSeed="'                                         ~ _s['randomizer_seed']                                          ~ '"',
  "bIsRandomizerPalLevelRandom="                             ~ _s['b_is_randomizer_pal_level_random'],
  "DayTimeSpeedRate="                                        ~ _s['day_time_speed_rate'],
  "NightTimeSpeedRate="                                      ~ _s['night_time_speed_rate'],
  "ExpRate="                                                 ~ _s['exp_rate'],
  "PalCaptureRate="                                          ~ _s['pal_capture_rate'],
  "PalSpawnNumRate="                                         ~ _s['pal_spawn_num_rate'],
  "PalDamageRateAttack="                                     ~ _s['pal_damage_rate_attack'],
  "PalDamageRateDefense="                                    ~ _s['pal_damage_rate_defense'],
  "PlayerDamageRateAttack="                                  ~ _s['player_damage_rate_attack'],
  "PlayerDamageRateDefense="                                 ~ _s['player_damage_rate_defense'],
  "PlayerStomachDecreaceRate="                               ~ _s['player_stomach_decrease_rate'],
  "PlayerStaminaDecreaceRate="                               ~ _s['player_stamina_decrease_rate'],
  "PlayerAutoHPRegeneRate="                                  ~ _s['player_auto_hp_regene_rate'],
  "PlayerAutoHpRegeneRateInSleep="                           ~ _s['player_auto_hp_regene_rate_in_sleep'],
  "PalStomachDecreaceRate="                                  ~ _s['pal_stomach_decrease_rate'],
  "PalStaminaDecreaceRate="                                  ~ _s['pal_stamina_decrease_rate'],
  "PalAutoHPRegeneRate="                                     ~ _s['pal_auto_hp_regene_rate'],
  "PalAutoHpRegeneRateInSleep="                              ~ _s['pal_auto_hp_regene_rate_in_sleep'],
  "BuildObjectHpRate="                                       ~ _s['build_object_hp_rate'],
  "BuildObjectDamageRate="                                   ~ _s['build_object_damage_rate'],
  "BuildObjectDeteriorationDamageRate="                      ~ _s['build_object_deterioration_damage_rate'],
  "CollectionDropRate="                                      ~ _s['collection_drop_rate'],
  "CollectionObjectHpRate="                                  ~ _s['collection_object_hp_rate'],
  "CollectionObjectRespawnSpeedRate="                        ~ _s['collection_object_respawn_speed_rate'],
  "EnemyDropItemRate="                                       ~ _s['enemy_drop_item_rate'],
  "DeathPenalty="                                            ~ _s['death_penalty'],
  "bEnablePlayerToPlayerDamage="                             ~ _s['b_enable_player_to_player_damage'],
  "bEnableFriendlyFire="                                     ~ _s['b_enable_friendly_fire'],
  "bEnableInvaderEnemy="                                     ~ _s['b_enable_invader_enemy'],
  "bActiveUNKO="                                             ~ _s['b_active_unko'],
  "bEnableAimAssistPad="                                     ~ _s['b_enable_aim_assist_pad'],
  "bEnableAimAssistKeyboard="                                ~ _s['b_enable_aim_assist_keyboard'],
  "DropItemMaxNum="                                          ~ _s['drop_item_max_num'],
  "PhysicsActiveDropItemMaxNum="                             ~ _s['physics_active_drop_item_max_num'],
  "DropItemMaxNum_UNKO="                                     ~ _s['drop_item_max_num_unko'],
  "BaseCampMaxNum="                                          ~ _s['base_camp_max_num'],
  "BaseCampWorkerMaxNum="                                    ~ _s['base_camp_worker_max_num'],
  "DropItemAliveMaxHours="                                   ~ _s['drop_item_alive_max_hours'],
  "bAutoResetGuildNoOnlinePlayers="                          ~ _s['b_auto_reset_guild_no_online_players'],
  "AutoResetGuildTimeNoOnlinePlayers="                       ~ _s['auto_reset_guild_time_no_online_players'],
  "GuildPlayerMaxNum="                                       ~ _s['guild_player_max_num'],
  "BaseCampMaxNumInGuild="                                   ~ _s['base_camp_max_num_in_guild'],
  "PalEggDefaultHatchingTime="                               ~ _s['pal_egg_default_hatching_time'],
  "WorkSpeedRate="                                           ~ _s['work_speed_rate'],
  "AutoSaveSpan="                                            ~ _s['auto_save_span'],
  "bIsMultiplay="                                            ~ _s['b_is_multiplay'],
  "bIsPvP="                                                  ~ _s['b_is_pvp'],
  "bHardcore="                                               ~ _s['b_hardcore'],
  "bPalLost="                                                ~ _s['b_pal_lost'],
  "bCharacterRecreateInHardcore="                            ~ _s['b_character_recreate_in_hardcore'],
  "bCanPickupOtherGuildDeathPenaltyDrop="                    ~ _s['b_can_pickup_other_guild_death_penalty_drop'],
  "bEnableNonLoginPenalty="                                  ~ _s['b_enable_non_login_penalty'],
  "bEnableFastTravel="                                       ~ _s['b_enable_fast_travel'],
  "bEnableFastTravelOnlyBaseCamp="                           ~ _s['b_enable_fast_travel_only_base_camp'],
  "bIsStartLocationSelectByMap="                             ~ _s['b_is_start_location_select_by_map'],
  "bExistPlayerAfterLogout="                                 ~ _s['b_exist_player_after_logout'],
  "bEnableDefenseOtherGuildPlayer="                          ~ _s['b_enable_defense_other_guild_player'],
  "bInvisibleOtherGuildBaseCampAreaFX="                      ~ _s['b_invisible_other_guild_base_camp_area_fx'],
  "bBuildAreaLimit="                                         ~ _s['b_build_area_limit'],
  "ItemWeightRate="                                          ~ _s['item_weight_rate'],
  "CoopPlayerMaxNum="                                        ~ _s['coop_player_max_num'],
  "ServerPlayerMaxNum="                                      ~ _s['server_player_max_num'],
  'ServerName="'                                             ~ _s['server_name']                                              ~ '"',
  'ServerDescription="'                                      ~ _s['server_description']                                       ~ '"',
  'AdminPassword="'                                          ~ _s['admin_password']                                           ~ '"',
  'ServerPassword="'                                         ~ _s['server_password']                                          ~ '"',
  "bAllowClientMod="                                         ~ _s['b_allow_client_mod'],
  "PublicPort="                                              ~ _s['public_port'],
  'PublicIP="'                                               ~ _s['public_ip']                                                ~ '"',
  "RCONEnabled="                                             ~ _s['rcon_enabled'],
  "RCONPort="                                                ~ _s['rcon_port'],
  'Region="'                                                 ~ _s['region']                                                   ~ '"',
  "bUseAuth="                                                ~ _s['b_use_auth'],
  'BanListURL="'                                             ~ _s['ban_list_url']                                             ~ '"',
  "RESTAPIEnabled="                                          ~ _s['rest_api_enabled'],
  "RESTAPIPort="                                             ~ _s['rest_api_port'],
  "bShowPlayerList="                                         ~ _s['b_show_player_list'],
  "ChatPostLimitPerMinute="                                  ~ _s['chat_post_limit_per_minute'],
  "CrossplayPlatforms="                                      ~ _s['crossplay_platforms'],
  "bIsUseBackupSaveData="                                    ~ _s['b_is_use_backup_save_data'],
  "LogFormatType="                                           ~ _s['log_format_type'],
  "bIsShowJoinLeftMessage="                                  ~ _s['b_is_show_join_left_message'],
  "SupplyDropSpan="                                          ~ _s['supply_drop_span'],
  "EnablePredatorBossPal="                                   ~ _s['enable_predator_boss_pal'],
  "MaxBuildingLimitNum="                                     ~ _s['max_building_limit_num'],
  "ServerReplicatePawnCullDistance="                         ~ _s['server_replicate_pawn_cull_distance'],
  "bAllowGlobalPalboxExport="                                ~ _s['b_allow_global_palbox_export'],
  "bAllowGlobalPalboxImport="                                ~ _s['b_allow_global_palbox_import'],
  "EquipmentDurabilityDamageRate="                           ~ _s['equipment_durability_damage_rate'],
  "ItemContainerForceMarkDirtyInterval="                     ~ _s['item_container_force_mark_dirty_interval'],
  "PlayerDataPalStorageUpdateCheckTickInterval="             ~ _s['player_data_pal_storage_update_check_tick_interval'],
  "ItemCorruptionMultiplier="                                ~ _s['item_corruption_multiplier'],
  "MonsterFarmActionSpeedRate="                              ~ _s['monster_farm_action_speed_rate'],
  "DenyTechnologyList="                                      ~ _s['deny_technology_list'],
  "GuildRejoinCooldownMinutes="                              ~ _s['guild_rejoin_cooldown_minutes'],
  "AutoTransferMasterCheckIntervalSeconds="                  ~ _s['auto_transfer_master_check_interval_seconds'],
  "AutoTransferMasterThresholdDays="                         ~ _s['auto_transfer_master_threshold_days'],
  "MaxGuildsPerFrame="                                       ~ _s['max_guilds_per_frame'],
  "BlockRespawnTime="                                        ~ _s['block_respawn_time'],
  "RespawnPenaltyDurationThreshold="                         ~ _s['respawn_penalty_duration_threshold'],
  "RespawnPenaltyTimeScale="                                 ~ _s['respawn_penalty_time_scale'],
  "bDisplayPvPItemNumOnWorldMap_BaseCamp="                   ~ _s['b_display_pvp_item_num_on_world_map_base_camp'],
  "bDisplayPvPItemNumOnWorldMap_Player="                     ~ _s['b_display_pvp_item_num_on_world_map_player'],
  'AdditionalDropItemWhenPlayerKillingInPvPMode="'           ~ _s['additional_drop_item_when_player_killing_in_pvp_mode']     ~ '"',
  "AdditionalDropItemNumWhenPlayerKillingInPvPMode="         ~ _s['additional_drop_item_num_when_player_killing_in_pvp_mode'],
  "bAdditionalDropItemWhenPlayerKillingInPvPMode="           ~ _s['b_additional_drop_item_when_player_killing_in_pvp_mode'],
  "bEnableVoiceChat="                                        ~ _s['b_enable_voice_chat'],
  "VoiceChatMaxVolumeDistance="                              ~ _s['voice_chat_max_volume_distance'],
  "VoiceChatZeroVolumeDistance="                             ~ _s['voice_chat_zero_volume_distance'],
  "bAllowEnhanceStat_Health="                                ~ _s['b_allow_enhance_stat_health'],
  "bAllowEnhanceStat_Attack="                                ~ _s['b_allow_enhance_stat_attack'],
  "bAllowEnhanceStat_Stamina="                               ~ _s['b_allow_enhance_stat_stamina'],
  "bAllowEnhanceStat_Weight="                                ~ _s['b_allow_enhance_stat_weight'],
  "bAllowEnhanceStat_WorkSpeed="                             ~ _s['b_allow_enhance_stat_work_speed'],
  "bEnableBuildingPlayerUIdDisplay="                         ~ _s['b_enable_building_player_uid_display'],
  "BuildingNameDisplayCacheTTLSeconds="                      ~ _s['building_name_display_cache_ttl_seconds'],
] %}
[/Script/Pal.PalGameWorldSettings]
OptionSettings=({{ _opts | join(', ') }})
